body {
  font-family: var(--font-montserrat);
  color: var(--main-text-color);
  letter-spacing: 0.04em;
}


img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    padding: 0;
    cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
}

a {
    color: currentColor;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}
