.footer__page-topic {
  font-family: var(--font-montserrat);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #fcfcfc;
}
.footer__page-rubric {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 41px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fcfcfc;
}
.footer__box{
  background-color: var(--main-green-color);
}